# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# CocoaPods / SPM build artifacts (if you add them later)
Pods/
Carthage/Build/

# fastlane (optional)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
